.course-section{
    background-color: silver;
}
.top-banner{
    background-image: url("../../media/image/cover.jpg");
    background-repeat: no-repeat;
    color: springgreen;
    text-align:center;
    
}